{% extends "base.html" %}

{% block title %}
About-us | PC Jewellers
{% endblock %}

{% block css %}
<link href="../static/aboutus.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
	<meta name="description" content="ETP Test Project - page 1">
	<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<div class="hero-text">
			
	<p class="hero-subtitle">20+ Years of Experience</p>
</div>
<div >
<!-- END Banner Text -->
</div>
<main>
<article class="main">
	<section class="content">
		<!-- Edit Homepage Text -->
		<p class="blue-text">ABOUT US</p>
		<p id="text">PC Jeweller is India's leading fine jewellery discovery platform focusing on giving YOU an awesome jewellery buying experience. At PC Jeweller we strive to provide you the largest collection of curated designs for every occasion. We are not just selling jewellery, but an unparalleled jewellery buying experience at your fingertips!

			Shining bright with a young team focused on innovation, customer happiness and transparency, PC Jeweller addresses the growing demands of today's always on-the-go consumers to discover, explore, buy and know more about their jewellery. Our policies provide easy returns, free shipping, BIS Hallmark, 100% certified jewellery, life-time exchange, best and transparent prices and unique designs all under one roof.
			
			Find us on Facebook, Instagram and Twitter. We would love to connect with you. To share your thoughts or get your queries answered, please feel free to reach us on our toll free number 1800-120-1434 or send us an email at getintouch@pcjeweller.com.
			
			Think Jewellery, Think PC Jeweller!</p>
		<!-- END Homepage Text -->
	</section>
	<div id="services">
		<section class="grid-services">
			  <!-- Edit Services Section -->
			<div class="grid-group-services">
				<div class="grid-group-services-box">
					<div class="services-icon">
						<i class="fas fa-video"></i>
					</div>
					<div class="services-description">
					<!-- Edit Video Section -->
						<h3>OVERVIEW</h3>
						<p>It all started when PC Jeweller first opened its first showroom in 2005 in Karol Bagh, New Delhi with a vision to redefine elegance, allure and style in the form of stunning pieces of jewellery. Today we have physical presence at 91 showrooms across 74 cities and 20 state.</p>
					<!-- END Video Section -->
					</div>
				</div>
			</div>
			<div class="grid-group-services">
				<div class="grid-group-services-box">
					<div class="services-icon">
						<i class="fas fa-volume-up"></i>
					</div>
					<div class="services-description">
						<!-- Edit Audio Section -->
						<h3>OUR POLICIES</h3>
						<p>For products purchased online through www.pcjeweller.com refund/ exchange / return shall be entertained through www.pcjeweller.com and shall not be entertained at any other PC Jeweller showroom.
							Duration: For Same Day Shipping Products, easy return and exchange policy timeline is 7 days from the date of delivery, for all other orders policy time frame is of 15 days from date of delivery.</p>
						<!-- END Audio Section -->
					</div>
				</div>
			</div>
			<div class="grid-group-services">
				<div class="grid-group-services-box">
					<div class="services-icon">
						<i class="fas fa-bolt"></i>
					</div>
					<div class="services-description">
						<!-- Edit Lighting Section -->
						<h3>CUSTOMER DELIGHT</h3>
						<p>We offer one time FREE return shipping (within India) within the Easy Returns and Exchange Policy. For all the subsequent returns/exchanges under this policy, the shipping charges shall be borne by the Customer..</p>
						<!-- END Lighting Section -->
					</div>
				</div>
			</div>
			 <div class="grid-group-services">
				<div class="grid-group-services-box">
					<div class="services-icon">
						<i class="fas fa-pencil-ruler"></i>
					</div>
					<div class="services-description">
						<!-- Edit Scenic Design Section -->
						<h3>EDUCATION</h3>
						<p>Diamond Education
							If you would ever come across a diamond in the rough, you would probably not even look at it twice. But if the same piece of brilliance was presented to you in all its shine, you would find it hard to put it down. This charm manifests only due to its characteristic beauty; beauty that can be handcrafted to perfection..</p>
						<!-- END Scenic Design Section -->
					</div>
				</div>
			</div>
			<div class="grid-group-services">
				<div class="grid-group-services-box">
					<div class="services-icon">
						<i class="fas fa-light fa-address-book" style="color: #4faff8;"></i>
					</div>
					<div class="services-description">
						<!-- Edit Creative Services Section -->
						<h3>GET IN TOUCH</h3>
						<p>1800-120-1434 (Toll Free)
							7669389128 (WhatsApp)<br>
							(10am - 6pm IST, MON - SAT)<br>
							getintouch@pcj.ac.in
							Corporate Gifting.</p>
						<!-- END Creative Services Section -->
					</div>
				</div>
			</div>
			<div class="grid-group-services">
				<div class="grid-group-services-box">
					<div class="services-icon">
						<i class="fas fa-ship"></i>
					</div>
					<div class="services-description">
						<!-- Edit Conventions Section -->
						<h3>TERMS AND CONDITIONS</h3>
						<p>PC Jeweller will not be responsible for orders collected directly from the delivery hub or anywhere outside the delivery address.

							Once your order has been shipped, you will receive an e-mail from www.pcjeweller.com containing your tracking number and a link to the website's order-tracking page
							.</p>
						<!-- END Conventions Section -->
					</div>
				</div>
			</div>
		</section>
		<!-- END Services Section -->
	</div>
</article>
</main>
<footer class="footerRow">
<div class="footerColumn">
	<span id="SocialMedia">
		<a class="fab fa-facebook-f"></a>
		<a class="fab fa-twitter"></a>
		<a class="fab fa-linkedin-in"></a>
	</span>
</div>
<div class="footerColumn">
		<ol id="Copyright">
			<!-- Edit Footer Links -->
			<li class="footerMenu"><a href="#" class="blueLink">Contact Us</a></li>
			<li class="footerMenu"><a href="#" class="blueLink">Terms of Use</a></li>
			<li class="footerMenu"><a href="#" class="blueLink">Privacy Policy</a></li>
			<!-- END Footer Links -->
		</ol>
</div>
</footer>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "menu") {
	x.className += " responsive";
  } else {
	x.className = "menu";
  }
} 
</script>
{% endblock %}

