<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/base.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/Slider.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> -->
  <link rel="icon" href="https://www.pcjeweller.com/favicon.png" type="image/x-icon" />
  <!-- <script src="../static/script.js"></script> -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
  {% block css %}
  {% endblock %}
  <title>
    {% block title %}
    Base Template
    {% endblock %}
  </title>
</head>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/style.css" />
  <link
    href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
    rel="stylesheet"
  />
  <title>Navigation Bar with Propdown Menu</title>
</head> -->

  <body>
    <header id="nav-menu" aria-label="navigation bar">
      <div class="container">
        <div class="nav-start">
          <a class="logo" href="/home">
            <img
              src="../static/assets/back.png"
              width="140"
              height="80"
              alt="Inc Logo"
            />
          </a>
          <nav class="menu">
            <ul class="menu-bar">
              <li>
                <button
                  class="nav-link dropdown-btn"
                  data-dropdown="dropdown2"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-label="discover"
                >
                  Discover Products
                  <i class="bx bx-chevron-down" aria-hidden="true"></i>
                </button>
                <div id="dropdown2" class="dropdown">
                  <ul role="menu">
                    <li>
                      <span class="dropdown-link-title">Browse Categories</span>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="/bracelates">Bracelets</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="/ear-rings"
                        >Ear-rings</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="/necklaces"
                        >Necklaces</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-link" href="/rings"
                        >Rings</a>
                    </li>
                    <li>
                      <a class="dropdown-link" href="/products">All Products</a>
                    </li>
                  </ul>
                </div>
              </li>
            
              <li><a class="nav-link" href="/about">About</a></li>
              <li><a class="nav-link" href="/contact">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="nav-end">
          <div class="right-container">
         <ul class="loggg">
            {% if logged_in %}
            <span class="Account">
              <li><a href="/" class="icn" title="{{account}}">
                <svg  class="Account_button" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>
                
              </a>
            </li>
              <a href="/cart"><svg class="Cart_button" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h1.5a1 1 0 0 1 .979.796L7.939 6H19a1 1 0 0 1 .979 1.204l-1.25 6a1 1 0 0 1-.979.796H9.605l.208 1H17a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L5.686 5H5a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
              </svg>
              </a>
              <a href="/logout" class="Log_out"> log out</a>
            </span>
           
            
           
            {% else %}
            <div class="both_button">
              <span class="login_button">
                <li><button class="btn btn-primary" style="background-color: brown;"><a href="/login">Login</a></button></li>
              </span>
             <span class="sign_up_btn">
              <li><button class="btn btn-primary" style="background-color: brown;"><a href="/sign-up">SignUp</a></button></li>
             </span>
            </div>
           
           
            </ul>
            {% endif %}
          </div>

          <button
            id="hamburger"
            aria-label="hamburger"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bx bx-menu" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </header>
    <main>
      <div class="container-1">
        {% block content %}
        {% endblock %}
      </div>
    </main>

  
    <footer>
      <div class="footer">
        <div class="row">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
  
        <div class="row">
          <ul>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Career</a></li>
          </ul>
        </div>
  
        <div class="row">
          INFERNO Copyright © 2021 Inferno - All rights reserved || Designed By: Mahesh
        </div>
      </div>
    </footer>
  </body>
  
  </html>
    <script src="../static/script.js"></script>
  </body>
</html>
