{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="../static/auth.css">
{% endblock %}

{% block title %}
Login | PC Jewellers
{% endblock %}

{% block content %}

<div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="home()">&times;</span>
      <div class="modal-container">
        <img src="../static/assets/pop.jpg" alt="Image" class="image">
        <form id="login-form" class="form" method="post">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>

          <label for="password">Password</label>
          <input type="password" id="password" name="password">
            <p style="color:red">{{message}}</p>
          <button type="submit">Login</button>
          <p>Don't have an account? <a class="dont_have_a cout" href="/sign-up" >Signup</a></p>
        </form>
      </div>
    </div>
  </div>
  <script>
    function home()
    {
        window.open("/home");
    }
  </script>

{% endblock %}